body {
	margin: 0;
	padding: 0;
	text-align: center;
	color: #fff;
	font-family: 'Source Sans Pro', sans-serif;
}
.bg {
	background: url(../img/appbg.jpg) no-repeat center center;
	background-size: cover;
	width: 100%;
	height: 100vh;
}
.bg > a {
	display: block;
	width: 100%;
	text-align: center;
	padding-top: 40vh;
}
.bg > a > img {
	height: 48px;
	margin: 0 auto;
}
h1 {
	font-weight: 200;
}

/*! flexiblegs.style.css */

/* xl */

  /* your style */

/* responsive */

  /* lg */

    @media (max-width: 1024px) {

      /* your style */

    }

  /* md */

    @media (max-width: 768px) {

      /* your style */

    }

  /* sm */

    @media (max-width: 667px) {

      /* your style */

    }

  /* xs */

    @media (max-width: 414px) {

      /* your style */

    }